#ShoppingCart{
	.table-bordered{
		border-collapse: collapse;
		border: none;
	}
	.input--value{
		width: 50%;
	}
	.cartItem__Image{
		height: 5em;
	}
	.cartItem__Table--space{
		padding-top: 1.5em;
	}
}